
<div class="bg-music">
    <audio muted id = "bgMusic" src = "../../../assets/audio/Sunshine_Kiss.mp3" loop="loop" autoplay="autoplay">
    </audio>
    <button class="btn" id="btn">
        <i class="bi bi-play-circle-fill" id = "play"></i>
        <i class="bi bi-pause-circle-fill" id = "pause"></i>
    </button>
</div>

<!-- the following part doesn't work, which is about adding a button to play/pause the bgm, still working on it -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script type="text/javascript">
    var bgMusic = document.getElementById("bgMusic");
    var play = document.getElementById("play");
    var pause = document.getElementById("pause");
    var btn = document.getElementById("btn");
    play.onclick = function(){
        if(bgMusic.paused){
            bgMusic.play();
            play.hide();
            pause.fadeIn();
        }else{
            bgMusic.pause();
            pause.hide();
            play.fadeIn();
        }
    }
</script>
