@import "~bootstrap-icons/font/bootstrap-icons.css";
/* import the icon library from bootstrap */
.bg-musc {
    position: absolute;
    top: 64%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
/* the following code doesn't work, still working on it */

/* .btn {
    background-color: transparent;
    color: #fff;
    font-size: 50px;
    border: none;
    display: block;
    margin: 0 95%;
    opacity: 0.5;
    transition: all linear 0.7s;
}
.btn:hover {
    opacity: 1;
}

.bi-pause-circle-fill {
    display: none;
} */
