<app-background></app-background>
<app-heading></app-heading>
<div class="table-container">
  <table class="leaderboard-table">
    <thead>
      <tr class="leaderboard-table__tr">
        <th class="leaderboard-table__th">Players</th>
        <th class="leaderboard-table__th">Round</th>
      </tr>
    </thead>

    <tbody class="leaderboard-table__tbody">
      <tr
        class="leaderboard-table__tr"
        *ngFor="let player of leaderboardService.getList()"
      >
        <td class="leaderboard-table__td">{{ player.name }}</td>
        <td class="leaderboard-table__td">{{ player.rounds }}</td>
      </tr>
    </tbody>
  </table>
</div>

<app-button class="center" type="submit" (click)="gameService.playAgain()">
  Let's Play!
</app-button>
