.table-container {
	 width: 500px;
	 max-width: 100%;
	 margin: 20px auto;
	 max-height: 420px;
	 overflow-y: scroll;
}

 .leaderboard-table {
	 width: 100%;
	 text-align: center;
	 border-collapse: collapse;
	 color: #fff;
}

 .leaderboard-table__tr {
	 background: rgba(255, 255, 255, 0.15);
}

 .leaderboard-table__tr:nth-child(even) {
	 background: #4d8c22;
}

 .leaderboard-table__td {
	 padding: 10px 0;
}

 .leaderboard-table__th {
	 font-weight: normal;
	 background: #2b4e13;
	 padding: 10px 0;
}

app-button {
	 text-align: center;
	 display: block;
}
