#title {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: 'Luckiest Guy', cursive;
  color: gold;
  top: 20px;
  font-size: 60px;
  margin-left: 925px;
}

#info {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: 'Luckiest Guy', cursive;
  color: gold;
  top: 20px;
  font-size: 60px;
  margin-left: 800px;
  display: none;
  letter-spacing: 4px;
}