<!--Set class attributes for HTML elements-->
<app-background></app-background>

<!--Title-->
<div class="memory-game">
 <app-heading></app-heading>
<!--Cards-->
 <div class="memory-game__cards">
   <app-cards *ngFor="let card of gameService.cards" [card]="cards"></app-cards>
 </div>

 <div class="memory-game__info">
   <p>Rounds: {{ gameService.rounds }}</p>
   <button class="cheat-btn" (click)="gameService.toggleCheat()">Cheat</button>
   <p>Player: {{ gameService.playerName }}</p>
 </div>

 <!--Window for gameplay-->
 <app-game-window [visible]="gameService.isGameOver">
   <div class="game-window_content">
     <h2 class="game-window_content__title">Congratulations! You won! </h2>
     <p class="game-window_content__rounds">
       Number of rounds: {{ gameService.rounds }}
     </p>
     <!--Button to play again-->
     <app-button (click)="gameService.playAgain()" type="btn">
       Play again
     </app-button>

     <a class="game-window_content__link" routerLink="/leaderboard">Leaderboard</a>
   </div>
 </app-game-window >

</div>
