<!--Set class attributes for HTML elements-->

<app-background></app-background>
<app-heading></app-heading>

<div class="memory-game">

<!--Cards-->
<div class="card_container">
<ng-container *ngIf="gameService.start === false">
  <div class="memory-game__cards">
    <app-card *ngFor="let card of gameService.cards" [card]="card"></app-card>
  </div>
 </ng-container>
<ng-container *ngIf="gameService.start === true">
 <div class="memory-game__cards">
   <app-card *ngFor="let card of gameService.cards" [card]="card"></app-card>
 </div>
</ng-container>
</div>
 <div class="memory-game__info">
   <p>Rounds: {{ gameService.rounds }}</p>

   <p>Player: {{ gameService.playerName }}</p>
 </div>

 <!--Buttons to connect and emit ready signal-->
 <app-connect-button (click)="gameService.connectToGame()"></app-connect-button>
 <app-ready-button (click)="gameService.readyToPlay()"></app-ready-button>

 <!--Window for end of gameplay-->
 <app-game-window [visible]="gameService.isGameOver">
   <div class="game-window-content">

     <!--Button to play again-->
     <app-button (click)="gameService.playAgain()" type="button">
       Play again
     </app-button>

     <a class="game-window-content__link" routerLink="/ranking">Leaderboard </a>
   </div>
 </app-game-window >
</div>
