<div class="col-md-5">
    <div class="profileinfoleft">
        <h3 class="username">
        username
        </h3>
        <small class="textmuted">
        email
        </small>
    </div>
</div>

<div class="col-md-7">
    <ul class="personalinfo">
      <li>
        <span class="title">Name</span>
        <span class="text">Lizhao</span>
      </li>
      <li>
        <span class="title">Surname</span>
        <span class="text">Liu</span>
      </li>
      <li>
        <span class="title">Age</span>
        <span class="text">24</span>
      </li>
      <li>
        <span class="title">Location</span>
        <span class="text">Bristol</span>
      </li>
    </ul>
  </div>