    <div class="title container">
      <br>
      <br>
      <br>
      <div class="row justify-content-md-center">
        <h1 class="col-md-12 text-center">
          <span>N</span>
          <span>o</span>
          <span>t</span>
          <span>S</span>
          <span>o</span>
          <span>B</span>
          <span>o</span>
          <span>r</span>
          <span>e</span>
          <span>d</span>
          <br>
          <br>
          <span>G</span>
          <span>a</span>
          <span>m</span>
          <span>e</span>
          <span>s</span>
        </h1>
      </div>
    </div>
    
    
    <!-- <div class="title row align-items-center">
     <h1 class="text-center">
      <span>N</span>
      <span>o</span>
      <span>t</span>
      <span>S</span>
      <span>o</span>
      <span>B</span>
      <span>o</span>
      <span>r</span>
      <span>e</span>
      <span>d</span>
      <br>
      <br>
      <span>G</span>
      <span>a</span>
      <span>m</span>
      <span>e</span>
      <span>s</span>
    </h1>
   </div> -->
