<app-title2></app-title2>
<app-navbar></app-navbar>
  <div class="container main">
    <div class="row container-sm align-items-start">
        <a routerLink="./memorygame" class="left col button">MEMORY GAME</a>
        <a routerLink="./connect4" class="button col right ">CONNECT 4</a>
    </div>
    <!-- <div class="row container-sm align-items-start info">
        <a href="#" class="link-light col leftlink">How to play Memory Game?</a>
        <a href="#" class="link-light col rightlink">How to play Connect 4?</a>
    </div> -->
</div>
