<app-navbar></app-navbar>
<br>
<br>
<br>
<app-title2 class="title"></app-title2>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row justify-content-evenly button-group">
        <div class="col-md-6 mx-auto align-self-end buttons text-center">
            <a routerLink="./memorygame" class="text-center btn button">MEMORY GAME</a>
        </div>
        <div class="col-md-6 mx-auto align-self-end buttons text-center">
            <a routerLink="/connect4" class="text-center btn button">CONNECT 4</a>
        </div>
    </div>
</div>


