<app-background></app-background>
<app-title2></app-title2>

<!-- navbar -->
<div>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/play">
        <img src="../../assets/img/notSoBoredLogo.png" alt="" width="230" height="50"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active"  aria-current="page" routerLink="/play">Play</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/leaderboard">Leaderboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/profile">Profile</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Games
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Memory game</a></li>
              <li><a class="dropdown-item" href="#">Connect 4</a></li>
            </ul>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li> -->
        </ul>
        <p class="nav-item">
            <button class="btn btn-outline-light" type="submit">Sign out</button>
        </p>
      </div>
    </div>
  </nav>
</div>
  <div class="container main">
    <div class="row container-sm align-items-start">
        <a routerLink="./memorygame" class="left col button">MEMORY GAME</a>
        <a routerLink="./connect4" class="button col right ">CONNECT 4</a>
    </div>
    <div class="row container-sm align-items-start info">
        <a href="#" class="link-light col leftlink">How to play Memory Game?</a>
        <a href="#" class="link-light col rightlink">How to play Connect 4?</a>
    </div>
</div>
