/* Game wrappers for page parameters */

.game-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.game-wrapper .memory-game {
    width: 100%;
    max-width: 760px;
}

.game-wrapper .memory-game .game-header {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    height: 48px;
}

.game-weapper .memory-game .game-header .header-item {
    flex: 0 0 25%;
    height: 48px;
    line-height: 48px;
    color: pink;
    line-height: 48px;
    text-align: center;
}
